@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

body{
  background-color: black;
  color: rgb(102, 255, 217);
  font-family: 'Noto Serif KR', serif;
  font-size: 2vw;
}
      div.row {
        display: flex;
        height: auto;
      }
      div.left {
        flex: 1;
        height: auto;
      }
      div.center {
        flex: 1;
        height: auto;
      }
      div.right {
        flex: 1;
        height: auto;
      }
div.note{
  color: black;
  background-color: rgb(103, 159, 164);
}
#svgelem {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
::selection { 
  color: black;
  background: rgb(248, 220, 9);
}
a:link{
  text-decoration-line: none;
  color: rgb(248, 220, 9);
}
a:visited{
  text-decoration-line: none;
  color: rgb(248, 220, 9);
}
a:hover{
  text-decoration-line: none;
  color: rgb(77, 77, 255);
}
a:active{
  text-decoration-line: none;
  color: rgb(248, 220, 9);
}

mark{
  font-family: 'Source Code Pro', monospace; 
  color: rgb(0, 255, 180);
  background-color: black;
}
#red{
  font-family: 'Noto Serif KR', serif;
  color: white;
  background: rgb(216, 49, 49);
}
#blue{
  font-family: 'Source Code Pro', monospace; 
  color: rgb(248, 220, 9);
  background: rgb(23, 51, 165);
}
hr{
  border: 1px solid #4d4dff !important;
}
em{
  color: rgb(198, 57, 57);
  text-decoration: underline;
}
strong{
  color: rgb(198, 57, 57);
  text-decoration: underline;
}
u{
  color: rgb(198, 57, 57);
  text-decoration: underline;
}
b{
  color: rgb(248, 220, 9);
  text-decoration: underline;
}
